        body {
            font-family: Arial, sans-serif;
            /* background-color: #f8f9fa; */
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            /* color: #343a40; */
        }

        table {
            border-collapse: collapse;
            margin: 20px auto;
            background-color: #fff;
            border: 2px solid #dee2e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        th,
        td {
            border: 1px solid #dee2e6;
            padding: 10px;
            width: 120px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            color: #343a40;
        }

        .highlight {
            background-color: #f8f9fa;
        }

        .special {
            background-color: hsl(200, 100%, 48%);
            color: hsl(200, 100%, 10%);
        }

        .unavailable {
            background-color: hsl(231, 0%, 20%);
            color: hsl(231, 0%, 90%);
        }

        .booked {
            background-color: hsl(330, 100%, 48%);
            color: hsl(330, 100%, 10%);
        }

        .available {
            background-color: hsl(160, 100%, 48%);
            color: hsl(160, 100%, 10%);
        }

